/* ------------------EDIT PAGE---------------------
------------------------------------------------ */

.form-edit {
    margin: 0 200px 200px 300px;
}

.form-edit label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #14A2BA;
    padding-bottom: 30px;
}

.form-edit input {
    margin: 10px 0 15px 0;
    width: 900px;
    height: 50px;
    background-color: #E7F6F9;
    border: none;
    border-radius: 12px;
}

.form-edit :placeholder-shown {
    padding-left: 20px;
}

.form-edit ::placeholder {
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    color: rgba(18, 93, 114, 0.43);
}

.form-edit .input-image {
    display: flex;
    align-items: center;
}

.form-edit .input-image input{
    width: 750px;
}

.form-edit .input-image a {
    background-color: #125D72;
    width: 130px;
    height: 50px;
    border-radius: 12px;
    margin-left: 10px;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    color: #E7F6F9;
    font-size: 12px;
    text-align: center;
}

.btn-save {
    display: flex;
}

.savebtn {
    text-decoration: none;
    background-color: #1C05DA;
    height: 40px;
    width: 150px;
    color: #E7F6F9;
    padding-top: 16px;
    padding-left: 19px;
    font-size: 15px;
    border-radius: 12px;
    margin-right: 50px;
    font-weight: 600;
}
