@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: "Nunito", sans-serif;
    position: relative;
    margin: 0;
    /* background-color: black; */
}

/* -------------------NAVBAR------------------- */
.navbar {
    height: 120px;
    background: #125D72;
    display: flex;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    /* padding-left: 17px;
    padding-right: 17px; */
    padding: 15px 30px 0px 30px;
    border-radius: 0px 0px 30px 30px;
    justify-content: space-between;
}

.nav h3 a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #FFFFFF;
}

.nav h3.logo {
    margin: 15px 0 0 0;
}

.nav p {
    font-family: 'Nunito';
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}

/* --------------------PROFIL--------------------- */
.btn-profile {
    margin-top: 15px;
}

.btn-profile i {
    padding: 20px;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background: #14A2BA;
    color: #EFE62F;
}

@media (max-width: 800px) {
    .navbar {
        height: 70px;
        background: #125D72;
        display: flex;
        padding: 6px 30px 0px 30px;
        border-radius: 0;
        justify-content: space-between;
    }

    .nav h3 a{
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 35px;
        color: #FFFFFF;
    }
    
    .nav h3.logo {
        margin: 5px 0 0 0;
    }
    
    .nav p {
        font-family: 'Nunito';
        font-weight: 200;
        font-size: 10px;
        text-align: left;
        color: #FFFFFF;
        margin: 0;
    }

    .btn-profile {
        margin-top: 4px;
    }
    
    .btn-profile i {
        padding: 12px;
        margin-top: 6px;
        width: 15px;
        height: 15px;
        text-align: center;
        text-decoration: none;
        border-radius: 100%;
        background: #14A2BA;
        color: #EFE62F;
    }
}



/* -------------FOOTER--------------- */
footer {
    background-color: #125D72;
    margin-top: 60px;
    padding-bottom: 20px;
    border-radius: 30px 30px 0px 0px;
}

footer .row {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

footer .row .datar-desc {
    padding-right: 9px;
}

footer h3 {
    padding-top: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    margin: 15px 0 0 0;
    /* justify-content: flex-start; */
}

footer .gray-desc {
    color: #BBBBBB;
    font-size: 15px;
    font-weight: 200;
}

footer .point-foot {
    padding-top: 35px;
    font-size: 19px;
    color: #BBBBBB;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: 13px;
    color: #E7F6F9;
    padding: 8px 8px 8px 0;
}

li a {
    color: #E7F6F9;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
}

.copyright hr {
    margin-top: 70px;
    width: 90%;
    color: #BBBBBB;
}

.copyright .copyright-text {
    color: #BBBBBB;
    font-size: 12px;
    text-align: center;
    /* margin-left: 650px;  */
}

@media (max-width: 800px) {
    footer {
        background-color: #125D72;
        margin-top: 40px;
        padding-bottom: 30px;
        border-radius: 30px 30px 0px 0px;
    }
    
    footer .row {
        flex-direction: column;
        padding-left: 25px;
    }
    
    footer h3 {
        padding-top: 15px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 35px;
        color: #FFFFFF;
        margin: 10px 0 0 0;
    }
    
    footer .gray-desc {
        color: #BBBBBB;
        font-size: 12px;
        font-weight: 200;
    }
    
    footer .point-foot {
        padding-top: 3px;
        font-size: 18px;
        color: #BBBBBB;
        margin: 10px 0;
    }
    
    li {
        font-size: 12px;
    }
    
    li a {
        text-decoration: none;
    }
    
    .copyright hr {
        margin-top: 25px;
    }
    
    .copyright .copyright-text {
        color: #BBBBBB;
        font-size: 10px;
        text-align: center;
    }
}

